@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@300;400;700&family=Playball&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

html, body{
    background-color: #ddd;
}

header{
    background-color: #4d41c0;
    color: #fff;
}

/*container class do bootstrap*/


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
a, a:hover{
    color: unset;
    text-decoration: none;
}